<html>
  <head></head>
  <body>
    <p>
      <%= "Welcome to Hangman! You have #{turns} turns to guess a secret word. Please enter the first letter you want to guess." %>
    </p>
    <p> 
      <%= "Turns left: #{@turns_left}" %>
   </p>
   <br>
    <form>
      <input type='text' name='guess' style='width:80px' />
      <input type='submit' value='Guess' />
    </form>
    <p>
      <%= @guess_word.split("").join(" ") %>
    </p>
    <p>
      <%= @secret_word %>
    </p>
    <p>
      <%= @guesses %>
    </p>  
    <p>
      <%= @result %>
    </body>
</html>